<style>
        div.event-list-item{
          text-align: center;
          margin: 0 auto;
          padding: 5px;
          background-color: #EEEEBB;
          display:flex;
          width: 90%;
          font-size: 30px;
          font-weight:600px;
          justify-content: center;
        }
        div.event-list-item-column{
          flex: 0 0 260px;
          margin: 10px;
        }
        .flex-text-field{
          height:auto;
          padding: 3px;
        }
        .flex-textarea-field{
          height: auto;
        }
        .event-title{
          font-size: 35px;
          font-weight:600;
        }
        .flex-row{
          display:flex;
          flex-direction: row;
          margin: 0 auto;
        }
        .flex-column{
          display: flex;
          flex-direction: column;
        }
        .flex-header{
          display:flex;
          justify-content:center;
          padding-top: 15px;
        }
</style>

<app-nav-bar></app-nav-bar>


<style>
    .event-page{
        text-align: center;
        margin: 0 auto;
        margin-top:30px;
        padding: 5px;
        background-color: #EEEEBB;
        display:flex;
        width: 80%;
        font-weight:600px;
        flex-direction: column;
    }
    .event-body{
        display:flex;
    }
    .event-page-column{
        display:flex;
        flex-direction: column;
        width: 50%;
    }
    .flex-center{
        display:flex;
        justify-content: center;
        text-align:center;
    }
    .event-title{
        font-size: 60px;
    }
    p{
        font-size: 20px;
    }
</style>

<div class="event-page" *ngIf="event">
    <div class="flex-header">
        <h1 id="event-title" class="event-title">{{event.name}}</h1>
    </div>
    <div class="event-body">
        <div class="event-page-column">
            <div><p id="event-description">{{event.description}}</p></div>
            <div><p id="event-location">{{event.location}}</p></div>
            <p id="event-startdate">Starting on: {{event.startdate | datetime}}</p>
            <p id="event-enddate">Ending on: {{event.enddate | datetime}}</p>

        </div>
        <div class="event-page-column flex-center">
                <div class="flex-center flex-column">
                    <h2>Who is Attending</h2>
                    <app-user-list [users]="peopleAttending"></app-user-list>
                </div>
                <div *ngIf="currentlyAttending === false">
                    <button (click)="joinEvents()" id="join-event-btn">Join Event</button> 
                </div>
                <div *ngIf="currentlyAttending === true">
                    <button (click)="leaveEvent()" id="leave-event=btn">Leave Event</button>
                </div>
        </div>
    </div>

</div>