<section class="event form">
    <h1>Create/Edit an Organization:</h1>
    <form #f="ngForm">
        <p>
            <label>Organization Name:</label>
            <input type="text" id="organization-name" name="name" 
                [(ngModel)]="organization.name" required>
        </p>
        <p>
            <label>Description:</label>
            <input type="text" id="organization-description" name="description" 
                [(ngModel)]="organization.description" required>
        </p>
        <p>
            <label>Tag to add:</label>
            <input type="text" id="organization-tags" name="tags" 
                [(ngModel)]="tagString" required>
        </p>
        <p>
            <button id="create-organization-btn" (click)="createOrganization()">Submit</button>
        </p>
    </form>
</section>
