<br><br>
<div class="container"></div>		
		

        <div id ="navbar">
                <nav class="navbar navbar-dark bg-primary">
                        <!-- Navbar content -->
                        <div class="row-fluid">
                        <form class="form-inline" >
                                <button class="nav-item btn btn-warning btn-outline-success my-2 my-sm-0">Create Event</button>
                                <button class="nav-item btn btn-warning btn-outline-success my-2 my-sm-0">Create Organization</button>
                               
                        </form>
                        </div>
                        <div><!--shift this div to the right side of the nav bar-->
                            <form  class="form-inline">
                            <select ref-type class="form-control" >
                                    <option value="Organization">Organization</option>
                                    <option value="Event">Event</option>
                            </select>
                            <input ref-input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button (click)="searchQuery(type.value, input.value)" class="btn btn-warning btn-outline-success my-2 my-sm-0" type="button">Search</button>
                        </form>
                        </div>
                </nav>
        </div>
        <br><br><br><br>
<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{currentUser.name}}</h2>
                                    <h6 class="d-block">{{currentUser.username}}</h6>
                                    <h6 class="d-block">{{currentUser.email}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <app-appointment-list></app-appointment-list>
                <br><br>
                <app-membership-list></app-membership-list>
        </div>
</div>

        
