<style>
    .flex-row{
        display:flex;
        flex-direction: row;
        width:auto;
    }
    .flex-column-med{
        width:350px;
    }
    .flex-column-big{
        width:725px;
    }
    .flex-row-gap{
        width:50px;
    }
    

</style>

<app-nav-bar></app-nav-bar>
        <br>
<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{currentUser.name}}</h2>
                                    <h6 class="d-block">{{currentUser.username}}</h6>
                                    <h6 class="d-block">{{currentUser.email}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=flex-row>
                <div class="flex-column-med"><app-membership-list></app-membership-list></div>
                <div class=flex-row-gap></div>
                <div class="flex-column-big"><app-appointment-list></app-appointment-list></div>
            </div>
        </div>
</div>

        
