<style>
    div.organization-list-item{
        margin: 5px;
        padding: 5px;
        background-color: #EEEEBB;
        display:flex;
        width: 320px;
        height:150px;
        font-size: 13px;
        font-weight:300px;
    }
    div.organization-list-item-column{
        margin: 10px;
    }
    div.organization-list-item-row{
        margin: 10px;
        width:100%;
    }
    .flex-text-field{
        height:auto;
    }
    .flex-textarea-field{
        height: auto;
    }
    .organization-title{
        font-size: 18px;
        font-weight:600;
    }
    .flex-row{
        display:flex;
        flex-direction: row;
    }
    .flex-column{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width:100%;
    }
    .flex-header{
        display:flex;
        padding-left: 35px;
        padding-top:15px;
    }
    .organization-btn{
        float:right;
        position:relative;
    }
    .organization-description{
        width:260px;
    }
    .flex-align-end{
        align-self: flex-end;
    }
    .grow { transition: all .15s ease-in-out; }
    .grow:hover { transform: scale(1.02); }
</style>
<div class="organization-list-item grow" *ngIf="organization"> 
<div class="flex-column">
    <div class="flex-header"><div class="organization-title flex-text-field">{{organization.name}}</div></div>
    <div class="flex-column">
    <div class="organization-list-item-row">
        <div class="organization-description flex-textarea-field">{{organization.description}}</div>
    </div>
        <div class="organization-list-item-row flex-align-end">
        <button class="organization-btn" (click)="handleClick()">Go to organization page</button>
        </div>  
    </div>
</div>
</div>